[flake8]
max-line-length = 120

exclude =
    migrations
    __pycache__
    manage.py
    settings.py
    env
    .env
    output
    old
    build
    dist
    .git

per-file-ignores =
    # imported but unused
    __init__.py: F401